# Assignment - 1

In [1]:
# Q1) creating variable


#strig
s1= "Hello"
print(type(s1))

#list
l1= ["Hello", "World", 1, 2, 3, "Sun"]
print(type(l1))

#float
f1=343.23
print(type(f1))

#tuple
t1=("fruit", 23, 45, "cucumber", 5.22)
print(type(t1))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [2]:
# Q2)

var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1

print(type(var1),type(var2), type(var3), type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'int'>

In [3]:
# Q3)(i)

# /
# this is use to perform division

a=45
b=5

c=a/b
c

9.0

In [4]:
# Q3)(ii)

# %
# this is called modulo operator, its used to calvulate the reminder

a=81
b=8
c=a%b
c

1

In [5]:
# Q3)(iii)

#//
# This is called floor division operator, if perform division operation and return integer number

a=9
b=2
c=a//b
c

4

In [6]:
# Q3)(iv)

#**
# This is power operator, used to calculate power

4**3

64

In [7]:
#Q4)

l1=[1,2,3.455,'Mango', 'Banana', -2342,'Man','Woman', 0,12]

for i in l1:
    print(i)

1
2
3.455
Mango
Banana
-2342
Man
Woman
0
12

In [17]:
# Q5)

A=45
B=5
while A%B==0:
    print("A is divisible by B =",A//B,"times")
    break
else:
    print("the number A is not purely divisible by number B")

A is divisible by B = 9 times

In [18]:
# Q6)

my_list = [5, 12, 8, 17, 3, 20, 10, 1, 15, 9, 6, 22, 13, 7, 18, 4, 11, 19, 2, 16, 24, 14, 21, 23, 25]
len(my_list)

25

In [21]:
print("check if divisible by 3 or not")
for i in my_list:
    if i%3==0:
        print("yes")
    else:
        print("no")

check if divisible by 3 or not
no
yes
no
no
yes
no
no
no
yes
yes
yes
no
no
no
yes
no
no
no
no
no
yes
no
yes
no
no

In [29]:
# Q.7)

''''Mutable datatype:
This datatypes can not be deleted, appended or updated after created once, 
When we try to update this variable it create a different object and assign to the variable.
examples: string'''

S= "Hello World"
print(S)
S[-1]='r'

Hello World

TypeError: 'str' object does not support item assignment

In [31]:
S="Hello Python"
print(S)

Hello Python

In [32]:
''''Immutable datatype:
This datatypes can be deleted, appended or updated after created once.
List is an example of immutable datatype'''

L1=[1,2,3,4,5,6]
print(L1)

[1, 2, 3, 4, 5, 6]

In [33]:
L1.append(7)
print(L1)

[1, 2, 3, 4, 5, 6, 7]

In [34]:
L1[-2]=9
print(L1)

[1, 2, 3, 4, 5, 9, 7]